allow system_app sensors_device:chr_file { read write open ioctl };
allow system_app timekeep_prop:property_service set;
allow system_app time_data_file:dir { create_dir_perms search };
allow system_app time_data_file:file create_file_perms;
allow system_app system_app_data_file:file { execute execute_no_trans };
