[access "refs/for/refs/heads/*"]
	pushMerge = group Clark Maintainers
[access "refs/heads/*"]
	push = +force group Clark Maintainers
	pushSignedTag = group Clark Maintainers
	label-Code-Review = -2..+2 group Clark Maintainers
	label-Verified = -1..+1 group Clark Maintainers
	rebase = group Clark Maintainers
	submit = group Clark Maintainers
	create = group Clark Maintainers
