[access "refs/for/refs/heads/*"]
	pushMerge = group Motorola Moto X (2015) (clark) Maintainers
[access "refs/heads/*"]
	push = +force group Motorola Moto X (2015) (clark) Maintainers
	label-Code-Review = -2..+2 group Motorola Moto X (2015) (clark) Maintainers
	label-Verified = -1..+1 group Motorola Moto X (2015) (clark) Maintainers
	rebase = group Motorola Moto X (2015) (clark) Maintainers
	create = group Motorola Moto X (2015) (clark) Maintainers
	submit = group Motorola Moto X (2015) (clark) Maintainers
	createSignedTag = group Motorola Moto X (2015) (clark) Maintainers
